################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/PDFUABoxService/bin/Debug/net8.0
/PDFUABoxService/obj
/PDFUABoxService/.vs
