################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/PDFUABoxService/bin/Debug/net8.0
/PDFUABoxService/obj
/PDFUABoxService/.vs
/Converter/obj
/Converter/bin/Debug/net8.0
/Converter_Test/bin/Debug/net8.0
/Converter_Test/obj/Debug/net8.0
/Converter_Test/obj
/PDFUAWebApp/bin/Debug/net8.0
/PDFUAWebApp/obj
/PDFSignContextHandler/bin/Debug/net8.0
/PDFSignContextHandler/obj
/PDFSignContextHandler_Test/bin/Debug/net8.0
/PDFSignContextHandler_Test/obj
