@page
@model PDFUABox.WebApp.Pages.ConverterModel
@{
    ViewData["Title"] = "Converter";
}

<h1>Converter</h1>
<h2 class="">Configuration</h2>
<p>watcher source directory: @Model.Watcher.SourceDirectory </p>
<h3>Queue</h3>
