@page
@model PDFUAWebApp.Pages.ConverterModel
@{
    ViewData["Title"] = "Converter";
}


<div class="position-relative">
    <div class="position-absolute top-0 start-0">
        <h2>Converter</h2>
        <h3 class="">Configuration</h3>
        <p>watcher source directory: @Model.Watcher.SourceDirectory </p>
        <h3>Queue</h3>
    </div>
</div>