@page
@model IndexModel
@{
    ViewData["Title"] = "PDFUABox";
}

<h1 class="display-4">PDFUABox</h1>
<img width="20%" height="20%" src="~/gfx/PDFUABox.jpg" alt="PDFUABox Logo" />
<p>here goes the cool stuff</p>
