@page
@model IndexModel
@{
    ViewData["Title"] = "PDFUABox";
    
}

<div class="text-center">
    <h1 class="display-4">PDFUABox</h1>
    <img width="20%" height="20%" src="~/gfx/PDFUABox.jpg" alt="PDFUABox Logo" />
</div>